h3.eclabel {font-size:12px; }
input.email {font-size:10pt; color:blue; width:180px;}
input.encryptbutton {font-size:12pt; color:black; 
                     background: lightgreen;}
input.sendmessage {font-size:12pt; color:black; background: orange;}
textarea.message {color:blue; font-size:9px; width:180px; height:250px;}
