h3.eclabel {font-size:11px; font-style:bold; font-family:arial}
h3.error   {font-size:12px; font-style:bold; color:red; background:white }
input.email {font-size:10pt; color:blue; width:200px;}
input.encryptbutton {font-size:11pt; font-style:italic; color:black; background: lightgreen;}
input.sendmessage {font-size:11pt; font-style:italic; color:black; background: orange;}
textarea.message {color:blue; font-size:9px; width:200px; height:150px;}

table.notice {width:160px;}
td.red   {color:darkred; font-size:11px; background:lightgray; 
         text-align:center;  height:15px; }
td.green {color:darkgreen; font-size:11px; background:lightgray; 
         text-align:center;  height:15px; }
