/* gpgstyle.css */
/* central style sheet for the WEB ENCRYPTION EXTENSION */

div.encryption {text-align:center;}
div.decryption {text-align:center;}
div.signing    {text-align:center;}
div.verify     {text-align:center;}
div.keys       {text-align:center;}

div.encryption h3 { font-family:arial; font-style:italic; font-weight:normal; font-size:14pt; 
                color:darkred; }
div.decryption h3 { font-family:arial; font-style:italic; font-weight:normal; font-size:14pt; 
                color:darkred; }
div.signing    h3 { font-family:arial; font-style:italic; font-weight:normal; font-size:14pt; 
                color:darkred; }
div.signing    h3.input { font-family:arial; font-style:italic; font-weight:normal; font-size:12pt; 
                color:darkred; }
div.verify     h3 { font-family:arial; font-style:italic; font-weight:normal; font-size:14pt; 
                color:darkred; }

table.keylist   {width:90%; margin-left:5%; marging-right:5%}
table.keyselect {width:90%; margin-left:5%; marging-right:5%}
table.genkey    {width:70%; margin-left:15%; marging-right:15%}


div.encryption a {color:darkgreen;}
div.encryption td.keyid1 { background-color:lightblue;}
div.encryption td.keyid2 { background-color:#eeeeee;}
div.encryption td.input  { background-color:#eeeeee;}
div.encryption td.text   { background-color:#fafafa; text-align:center;}

div.decryption a {color:darkgreen;}
div.decryption td.keyid1 { background-color:lightblue;}
div.decryption td.keyid2 { background-color:#eeeeee;}
div.decryption td.input  { background-color:#eeeeee;}
div.decryption td.text   { background-color:#fafafa; text-align:center;}

div.signing    a {color:darkgreen;}
div.signing    td.keyid1 { background-color:lightblue;}
div.signing    td.keyid2 { background-color:#eeeeee;}
div.signing    td.input  { background-color:#eeeeee;}
div.signing    td.text   { background-color:#fafafa; text-align:center;}


div.keys h2 { font-family:arial; font-style:italic; font-size:16pt; 
                color:darkred; }
div.keys h3 { font-family:arial; font-style:italic; font-size:14pt; 
                color:darkred; }
div.keys td.keyid1 { background-color:lightblue;}
div.keys td.keyid2 { background-color:#f8f8f8;}
div.keys td.label1 { background-color:gold; padding:5px;}
div.keys td.label2 { background-color:#f8f8f8; padding:5px;}
div.keys input {color:darkblue; }
div.keys input.button {background:lightgreen}

h3.error      { color:red; background-color:#eeeeee; }
